
:root {
    /*
     Colors
    */
    --cadet-blue-crayola: hsl(227, 13%, 73%);
    --maximum-yellow-red: hsl(41, 95%, 61%);
    --medium-sea-green: hsl(142, 43%, 54%);
    --blue-crayola_10: hsla(222, 100%, 61%, 0.05);
    --smocky-black_30: hsla(0, 0%, 6%, 0.3);
    --eerie-black-1: hsl(240, 5%, 8%);
    --eerie-black-2: hsl(228, 9%, 10%);
    --raisin-black: hsl(225, 15%, 16%);
    --blue-crayola: hsl(222, 100%, 61%);
    --roman-silver: hsl(223, 10%, 52%);
    --presian-red: hsl(0, 64%, 52%);
    --gunmetal_50: hsla(230, 16%, 22%, 0.5);
    --gainsboro: hsl(0, 0%, 85%);
    --cultured: hsl(0, 0%, 93%);
    --white_50: hsla(0, 0%, 100%, 0.5);
    --white_30: hsla(0, 0%, 100%, 0.3);
    --white_10: hsla(0, 0%, 100%, 0.1);
    --black_10: hsla(0, 0%, 0%, 0.1);
    --white: hsl(0, 0%, 100%);
    /*
    gradient
    */
    --gradient: linear-gradient(90deg, var(--white_10) 0px 77%, var(--white_50) 92%, transparent);
    /*
    Topography
    */
    --ff-dm-sans: 'DM Sans', sans-serif;

    --fs-1: 3.2rem;
    --fs-2: 2.5rem;
    --fs-3: 2.4rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.5rem;
    --fs-7: 1.4rem;
    --fs-8: 1.2rem;

    --fw-500: 500;
    --fw-700: 700;

    /*
    Spacing
    */
    /*
    Shadow
    */
    --shadow-1: 0px 4px 8px var(--black_10);
    --shadow-2: 0px 30px 10px -20px var(--smocky-black_30);
    --shadow-3: 0px 15px 10px -20px var(--smocky-black_30);
    /*
    Border radius
    */
    --radius-12: 12px;
    --radius-24: 24px;
    /*
    Trasition
    */
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --transition-3: 1s ease;
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}
.h1,
.h2,
.h3 {
    color: var(--blue-crayola);
    line-height: 1.1;
}

.h2 {
    font-size: 3rem;
}

#ta_app
{
position: relative;
background-color: var(--app-bg-color);
width: 350px;
height: auto;
padding: 0 22px;
padding-bottom: 20px;
margin-top: 100px;
margin-bottom: 100px;
overflow: hidden;
margin-top: 30px;
border-radius: 15px;
box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);

}
#ta_header
{
margin-top: 60px;
}

#ta_header div.name
{
font-size: 18px;
font-weight: 500;
color: var(--app-text-light-color);
}

#ta_header div.caption
{
font-size: 24px;
font-weight: 500;
margin-top: 0px;
color: var(--app-text-dark-color);
}

#ta_header div.caption i
{
position: relative;
top: -2px;
}

#ta_header div.caption span
{
position: relative;
font-size: 12px;
font-weight: 500;
color: var(--app-primary-color);
top: -4px;
}
#ta_action_btns
{
margin-top: 20px;
}

#ta_action_btns .btn
{
position: relative;
font-size: 15px;
font-weight: 500;
letter-spacing: 1px;
border-radius: 8px;
border: none;
padding-top: 15px;
padding-bottom: 15px;
color: #fff;
}
.buy_btn {
    --bs-bg-opacity: 1;
    background-color: var(--blue-crayola);
}
.buy_btn:hover{
    --bs-bg-opacity: 3.5;
    background-color: var(--blue-crayola);
}

#ta_action_btns i.fa
{
position: absolute;
width: 35px;
height: 35px;
line-height: 35px;
background-color: rgba(0,0,0,0.1);
border-radius: 8px;
left: 0;
top: 50%;
transform: translateY(-50%);
margin-left: 8px;
}

#ta_action_btns .ta_btn_buy
{
background-color: var(--blue-crayola);
}
#ta_body_transactions
{
margin-top: 20px;
padding: 15px 0;
}

#ta_body_transactions .body_title
{
font-size: 14px;
font-weight: 600;
color: rgba(0, 0, 0, 0.9);
}

#ta_body_transactions .body_title span
{
font-size: 10px;
font-weight: 600;
color: var(--app-primary-color);
float: right;
margin-top: 2px;
background-color: #fff;
padding: 2px 10px;
border-radius: 50px;
}

#ta_body_transactions li
{
list-style: none;
}

div.transactions_list
{
margin-top: 25px;
}

div.transactions_list > div
{
margin-top: 20px;
}

div.transactions_list .transactions_thumb i
{
width: 40px;
height: 40px;
line-height: 40px;
font-size: 16px;
border-radius: 8px;
background-color: #dee9f8;
color: var(--app-text-dark-color);
}

div.transactions_list .transaction_title
{
font-size: 14px;
font-weight: 600;
display: block;
color: var(--app-text-light-color);
}

div.transactions_list .transaction_caption
{
font-size: 10px;
font-weight: 500;
display: block;
color: var(--app-text-light-color);
}

div.transactions_list .transaction_amount
{
font-size: 13.5px;
font-weight: 600;
display: block;
color: #29cbe4;
}

div.transactions_list .amount_sent
{
color: var(--app-text-light-color);
}
#ta_body_chart
{
position: relative;
margin-top: 30px;
}

#ta_body_chart > div
{
position: relative;
margin-left: -15px;
}

#ta_body_chart > div:after
{
position: absolute;
content: ' ';
width: 100%;
height: 20px;
background-color: #fff;
left: 0;
bottom: 0;
margin-bottom: -10px;
}




/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/
@media (min-width: 200px) {

    /**
     * CUSTOM PROPERTY
     */

    :root {

        /**
       * typography
       */

        --fs-1: 4rem;
        --fs-2: 3rem;

    }

    #ta_app {
        max-width: 540px;
        width: 100%;
        margin-inline: auto;
    }




}


@media (min-width: 575px) {

    /**
     * CUSTOM PROPERTY
     */

    :root {

        /**
       * typography
       */

        --fs-1: 4rem;
        --fs-2: 3.4rem;

    }

    #ta_app {
        max-width: 540px;
        width: 100%;
        margin-inline: auto;
    }

   



}

/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {

    /**
     * CUSTOM PROPERTY
     */

    :root {

        /**
       * typography
       */

        --fs-1: 5rem;
        --fs-2: 4rem;

    }

    #ta_app {
        max-width: 750px;
    }


}

@media (min-width: 992px) {

    /**
     * REUSED STYLE
     */

     #ta_app {
        max-width: 960px;
    }

}




/**
   * responsive for larger than 1200px screen
   */

   @media (min-width: 1200px) {


    /**
     * CUSTOM PROPERTY
     */

    :root {

        /**
       * typography
       */

        --fs-1: 6.4rem;
        --fs-2: 4.8rem;

    }

    /**
     * REUSED STYLE
     */

     #ta_app {
        max-width: 1280px;
        
    }

   
}