{% extends 'backend/baseback.html.twig' %}

{% block title %}Edit Reponse{% endblock %}

{% block content %}
    <h1>Edit Reponse</h1>

    {{ include('reponse/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('reponse/_delete_form.html.twig') }}
{% endblock %}
