{% extends 'backend/baseback.html.twig' %}

{% block title %}New Reponse{% endblock %}

{% block content %}
<section class="section-md bg-default decor-text" >
    <div class="container">
        <h4 class="heading-decorated">Reclamation</h4>
    <h1>Create new Reponse</h1>

    {{ include('reponse/_form.html.twig') }}
    </div>
</section>
{% endblock %}
