{% extends 'backend/baseback.html.twig' %}

{% block title %}New Reponse{% endblock %}

{% block content %}
    <h1>Create new Reponse</h1>

    {{ include('reponse/_form.html.twig') }}

{% endblock %}
