{% extends 'frontend/basefront.html.twig' %}

{% block title %}Edit Reclamation{% endblock %}

{% block content %}
<main>
    <section class="section-md bg-default decor-text" >
        <div class="container">
            <h4 class="heading-decorated">Edit Review</h4>

    {{ include('reclamation/_form.html.twig', {'button_label': 'Update'}) }}
            <a style="max-width: 300px; margin-left: auto; margin-right: auto;" class="btn btn-block btn-outline-info" href="{{ path('app_reclamation_index') }}">Back to list</a>
        </div>
    </section>
</main>
{% endblock %}
