{% extends 'backend/baseback.html.twig' %}
{% block content %}
    {% if app.user %}
    <h1> Welcome {{ app.user.username }} ! </h1>
    {% else %}
    <h1> Welcome ! </h1>
    {% endif %}
{% endblock %}