.b_container{
    
        position: absolute;
        width: calc(100% - 180px);
        left: 300px;
        top:50px;
        min-height: 100vh;
        background: var(--white);
        transition: 0.5s;
      
}
.table{
    width:1000px;
  
}
h1{
    color: blue;
    padding: 10px;
}
