{% extends 'front_office/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('styletableBank') }}

{% endblock %}

{% block body %}
<div class="dash">
    <h2> Tableau de bord des banques </h2>
    <iframe title="bank loan dashboard" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=d4ef8903-50e7-4839-9501-0ca2e4a9bad0&autoAuth=true&ctid=abad0bf2-f44b-411f-afb8-39b8f810a35b" frameborder="0" allowFullScreen="true"></iframe>
</div>
{% endblock %}
