{% for a in pretData %} 
    <tr>  
    <td  class="column1">{{ a.pretid }}</td>
    <td  class="column2">{{ a.bankName }}</td>
    <td  class="column3"> {{ a.montant }}</td>
    <td  class="column3"> {{ a.duration }}</td>
 
    </tr>


    {% endfor %}