{% block body %}
    <h1>Liste du Panier</h1>

    <table>
        <thead>
            <tr>
                <th>Commande</th>
                <th>Quantité</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for panierItem in panierItems %}
                <tr>
                    <td>{{ panierItem.command }}</td>
                    <td>{{ panierItem.command.quantity }}</td>
                    <td>
                        <a href="{{ path('edit_panier', {'id': panierItem.id}) }}">Modifier</a>
                        <a href="{{ path('delete_panier', {'id': panierItem.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun élément trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
